{{!
/*
* Copyright (c) 2014-2015 SugarCRM Inc.  This product is licensed by SugarCRM
* pursuant to the terms of the End User License Agreement available at
* http://support.sugarcrm.com/06_Customer_Center/10_Master_Subscription_Agreements/10_Marketo/
*/
 }}
<div class="main-pane span12">
    <div>
        <div>
            <div class="headerpane">
                <h1>
                    <div class="record-cell">
                        <span class="module-title">Marketo Fields</span>
                    </div>
                </h1>
            </div>
        </div>
        <div>
            <div class="main-content">
                <div>
                    <div>
                        <div style="padding-top: 10px;">
                            {{#if data.results}}
                                <table class="table table-striped table-bordered">
                                    <tr>
                                        <th>Field Name</th>
                                        <th>API Name</th>
                                        <th>API Type</th>
                                    </tr>
                                    {{#each data.results}}
                                        <tr>
                                            <td>{{{this.displayName}}}</td>
                                            <td>{{{this.marketo}}}</td>
                                            <td>{{{this.type}}}</td>
                                        </tr>
                                    {{/each}}
                                </table>
                            {{else}}
                                {{#if data.errmsg}}
                                    <div class="block-footer">{{#notEq data.httpCode 503}} {{str "ERR_HTTP_500_TEXT"}} {{/notEq}} {{data.errmsg}}</div>
                                {{else}}
                                    <div class="block-footer"><i
                                            class={{meta.icon}}></i> {{str "LBL_ALERT_TITLE_LOADING"}}
                                        ...
                                    </div>
                                {{/if}}
                            {{/if}}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
