<div class="fb {{page_name}}">
<link rel="stylesheet" href="custom/clients/base/views/facebook-case-dashlet/facebook-case-dashlet.css">
<table class="table table-striped dataTable">
    {{#eq module "Home"}}
    <tr class="">
        <th class="fb header-column cases">
            <span>{{str "LBL_CASES"}}</span>
        </th>
        <th class="fb header-column from">
            <span>{{str "LBL_EMAIL_FROM" "Emails"}}</span>
        </th>
        <th class="fb header-column created_time">
            <span>{{str "LBL_DATE_POSTED"}}</span>
        </th>
        <th class="fb header-column message">
            <span>{{str "LBL_MESSAGE"}}</span>
        </th>
    </tr>
    {{else}}
    <tr class="">
        <th class="fb header-column from">
            <span>{{str "LBL_EMAIL_FROM" "Emails"}}</span>
        </th>
        <th class="fb header-column message">
            <span>{{str "LBL_MESSAGE"}}</span>
        </th>
    </tr>
    {{/eq}}
{{#if data}}
    {{#eq fetching true}}
    <tr>
        <td>
            <i class="fb fa fa-spinner fa-spin fa-1x pull-left"></i> Loading... 
        </td>
    </tr>
    {{/eq}}
    {{#each data}}
    {{#eq ../module "Home"}}
    <tr>
        <td class="post-cases">
            {{#if has_case}}
                <a title="View case" class="rowaction btn create_case_button" href="javascript:void(0);" name="create_case_button" {{#if case_id}}data-caseid="{{case_id}}"{{else}}data-caseid=""{{/if}} data-id="{{id}}" track="click:create_case_button">
                    <i class="fb fa fa-eye fa-1x"></i>
                </a>
            {{else}}
                <a title="Create new case" class="rowaction btn btn-primary create_case_button" href="javascript:void(0);" name="create_case_button" data-caseid="" data-id="{{id}}" track="click:create_case_button">
                    <i class="fb fa fa-edit fa-1x"></i>
                </a>
            {{/if}}
        </td>
        <td class="post-from">
            <input type="hidden" name="id" data-id="{{id}}" value="{{id}}" />
            <input type="hidden" name="created_time" data-id="{{id}}" value="{{created_time}}" />
            <input type="hidden" name="from_id" data-id="{{from.id}}" value="{{from.id}}" />
            <span>{{from.name}}</span>
        </td>
        <td class="post-created_time">
            <span>{{formatted_created_time}}</span>
            {{#if external_link}}
            <br/>
            <div class="link">
                <a target="_blank" href="{{external_link}}"><i class="fb fa fa-external-link fa-1x"></i></a>
            </div>
            {{/if}}
        </td>
        <td class="post-message">
        {{#eq type "status"}}
            {{#if message}}
                <div class="message">{{message}}</div>
            {{/if}}
        {{else}}    
            {{#eq type "photo"}}
                {{#if message}}
                    <div class="message">{{message}}</div><br/>
                {{/if}}
                {{#if link}}
                    <div class="link">
                        <a target="_blank" href="{{link}}">{{link}}</a>
                    </div>
                {{/if}}
            {{/eq}}
        {{/eq}}
        
        <div class="comments">
                <table class="comments-table table table-striped dataTable">
                    <tr class="header-row">
                        <th class="header-column" colspan="2">
                            <i class="fb fa fa-comments-o fa-1x"></i>
                            {{#eq ../user_access.view true}}
                                <a class="comment-link">{{str "LBL_COMMENTS"}} ({{comment_count}})</a>
                            {{else}}
                                {{str "LBL_COMMENTS"}} ({{comment_count}}) 
                            {{/eq}}
                            <i class="fb fa fa-thumbs-o-up fa-1x"></i>{{str "LBL_LIKES"}} ({{likes_count}})
                        </th>
                    </tr>
                {{#eq ../user_access.view true}}
                {{#each comments}}
                    <tr class="comment head">
                        <td class="info">
                            <span class="from">{{from.name}}</span>
                            <br/>
                            <span class="created_time">{{formatted_created_time}}</span>
                        </td>
                    </tr>
                    <tr class="comment body">
                        <td class="message">
                            {{message}}
                            {{#if attachment}}
                            <div class="attachment">
                                <i class="fb fa fa-paperclip fa-1x"></i>
                                {{str "LBL_ATTACHMENT" "Emails"}}: 
                            {{#eq attachment.type "photo"}}
                                <a target="_blank" href="{{attachment.url}}">{{attachment.url}}</a>
                            {{else}}
                                {{#if attachment.url}}
                                    <a target="_blank" href="{{attachment.url}}">{{attachment.url}}</a>
                                {{/if}}
                            {{/eq}}
                            </div>
                            {{/if}}
                            <div class="comments">
                                <table class="comments-table table table-striped dataTable">
                                    <tr class="header-row">
                                        <th class="header-column" colspan="1">
                                            <i class="fb fa fa-comments-o fa-1x"></i>
                                            {{#eq ../user_access.view true}}
                                            <a class="comment-link">{{str "LBL_COMMENTS"}} ({{comment_count}})</a>
                                            {{else}}
                                                {{str "LBL_COMMENTS"}} ({{comment_count}}) 
                                            {{/eq}}
                                            <i class="fb fa fa-thumbs-o-up fa-1x"></i>{{str "LBL_LIKES"}} ({{likes_count}})
                                        </th>
                                    </tr>
                                {{#eq ../user_access.view true}}
                                {{#each comments}}
                                    <tr class="comment head">
                                        <td class="info">
                                            <span class="from">{{from.name}}</span>
                                            <br/>
                                            <span class="created_time">{{formatted_created_time}}</span>
                                        </td>
                                    </tr>
                                    <tr class="comment body">
                                        <td class="message">
                                            {{message}}
                                            {{#if attachment}}
                                            <div class="attachment">
                                                <i class="fb fa fa-paperclip fa-1x"></i>
                                                {{str "LBL_ATTACHMENT" "Emails"}}: 
                                            {{#eq attachment.type "photo"}}
                                                <a target="_blank" href="{{attachment.url}}">{{attachment.url}}</a>
                                            {{else}}
                                                {{#if attachment.url}}
                                                    <a target="_blank" href="{{attachment.url}}">{{attachment.url}}</a>
                                                {{/if}}
                                            {{/eq}}
                                            </div>
                                            {{/if}}
                                            <br />
                                            <span class="likes_container"><i class="fb fa fa-thumbs-o-up fa-1x"></i>{{str "LBL_LIKES"}} ({{likes_count}})</span>
                                        </td>
                                    </tr>
                                {{/each}}
                                {{/eq}}
                                {{#eq ../user_access.edit true}}
                                <tr class="reply">
                                    <td class="message" colspan="2">
                                        <a class="rowaction btn btn-primary reply_button" href="javascript:void(0);" name="reply_button" data-id="{{id}}" track="click:reply_button">
                                            {{str "LBL_BUTTON_REPLY" "Emails"}}
                                        </a>
                                        <textarea placeholder="Write a reply..." name="reply" class="reply-area" rows="1" data-id="{{id}}"></textarea>
                                    </td>
                                </tr>
                                {{/eq}}
                                </table>
                            </div>
                        </td>
                    </tr>
                {{/each}}
                {{/eq}}
                {{#eq ../user_access.edit true}}
                <tr class="reply">
                    <td class="message" colspan="2">
                        <a class="rowaction btn btn-primary reply_button" href="javascript:void(0);" name="reply_button" data-id="{{id}}" track="click:reply_button">
                            {{str "LBL_BUTTON_REPLY" "Emails"}}
                        </a>
                        <textarea placeholder="Write a reply..." name="reply" class="reply-area" rows="1" data-id="{{id}}"></textarea>
                    </td>
                </tr>
                {{/eq}}
                </table>
        </div>
        </td>
    </tr>
    {{else}}
        {{#each comments}}
                <tr class="comment">
                    <td class="info">
                        <span class="from">{{from.name}}</span>
                        <br/>
                        <span class="created_time">{{formatted_created_time}}</span>
                    </td>
                    <td class="message">
                        {{message}}
                        {{#if attachment}}
                        <div class="attachment">
                            <i class="fb fa fa-paperclip fa-1x"></i>
                            {{str "LBL_ATTACHMENT" "Emails"}}: 
                        {{#eq attachment.type "photo"}}
                            <a target="_blank" href="{{attachment.url}}">{{attachment.url}}</a>
                        {{else}}
                            {{#if attachment.url}}
                                <a target="_blank" href="{{attachment.url}}">{{attachment.url}}</a>
                            {{/if}}
                        {{/eq}}
                        </div>
                        {{/if}}
                        <div class="comments">
                            <table class="comments-table table table-striped dataTable">
                                <tr class="header-row">
                                    <th class="header-column" colspan="2">
                                        <i class="fb fa fa-comments-o fa-1x"></i>
                                        {{#eq ../user_access.view true}}
                                        <a class="comment-link">{{str "LBL_COMMENTS"}} ({{comment_count}})</a>
                                        {{else}}
                                        {{str "LBL_COMMENTS"}} ({{comment_count}}) 
                                        {{/eq}}
                                        <i class="fb fa fa-thumbs-o-up fa-1x"></i>{{str "LBL_LIKES"}} ({{likes_count}})
                                    </th>
                                </tr>
                            {{#eq ../user_access.view true}}
                            {{#each comments}}
                                <tr class="comment">
                                    <td class="info message">
                                        <span class="from">{{from.name}}</span>
                                        <br/>
                                        <span class="created_time">{{formatted_created_time}}</span>
                                        <br/>
                                        {{message}}
                                        {{#if attachment}}
                                        <div class="attachment">
                                            <i class="fb fa fa-paperclip fa-1x"></i>
                                            {{str "LBL_ATTACHMENT" "Emails"}}: 
                                        {{#eq attachment.type "photo"}}
                                            <a target="_blank" href="{{attachment.url}}">{{attachment.url}}</a>
                                        {{else}}
                                            {{#if attachment.url}}
                                                <a target="_blank" href="{{attachment.url}}">{{attachment.url}}</a>
                                            {{/if}}
                                        {{/eq}}
                                        </div>
                                        {{/if}}
                                        <br />
                                        <span class="likes_container"><i class="fb fa fa-thumbs-o-up fa-1x"></i>{{str "LBL_LIKES"}} ({{likes_count}})</span>
                                    </td>
                                </tr>
                            {{/each}}
                            {{/eq}}
                            {{#eq ../user_access.edit true}}
                            <tr class="reply">
                                <td class="message" colspan="2">
                                    <a class="rowaction btn btn-primary reply_button" href="javascript:void(0);" name="reply_button" data-id="{{id}}" track="click:reply_button">
                                        {{str "LBL_BUTTON_REPLY" "Emails"}}
                                    </a>
                                    <textarea placeholder="Write a reply..." name="reply" class="reply-area" rows="1" data-id="{{id}}"></textarea>
                                </td>
                            </tr>
                            {{/eq}}
                            </table>
                        </div>
                    </td>
                </tr>
        {{/each}}
        {{#eq user_access.edit true}}
                <tr class="reply">
                    <td class="message" colspan="2">
                        <a class="rowaction btn btn-primary reply_button" href="javascript:void(0);" name="reply_button" data-id="{{id}}" track="click:reply_button">
                            {{str "LBL_BUTTON_REPLY" "Emails"}}
                        </a>
                        <textarea placeholder="Write a reply..." name="reply" class="reply-area" rows="1" data-id="{{id}}"></textarea>
                    </td>
                </tr>
        {{/eq}}
    {{/eq}}

    {{/each}}
    {{#eq no_data true}}
    <tr>
        <td colspan="2">
            <div class="block-footer">{{str "LBL_NO_DATA_AVAILABLE"}}</div>
        </td>
    </tr>
    {{/eq}}
{{else}}
    {{#eq fetching true}}
    <tr>
        <td>
            <i class="fb fa fa-spinner fa-spin fa-1x pull-left"></i> Loading... 
        </td>
    </tr>
    {{else}}
    {{#eq error true}}
    {{else}}
        <tr>
            <td colspan="2">
                <div class="block-footer">{{str "LBL_NO_DATA_AVAILABLE"}}</div>
            </td>
        </tr>
    {{/eq}}

    {{/eq}}
{{/if}}
</table>
{{#eq error true}}
    <div class="error">
        {{error_message}}
    </div>
{{/eq}}
</div>
